body{
    width: 100%;
    overflow-x: hidden;
    display: block;
}

nav{
    width: 100%;
    height: 4vw;
    background: rgba(0, 0, 0, 0.8);

}

.nav_item{
    display: flex;
    width: 80%;
    height: 4vw;
    justify-content: space-between;
    align-items: center;
    margin: 0vw auto ;
}

.nav_item > a{
    color: aliceblue;
    text-decoration: none;
}

.nav_item > a:hover {
    color: rgb(211, 235, 255);
}

.search_fade_in{
    position: fixed;
    z-index: 100;
    width: 100%;
    /* display: none; */
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    top: 0;
}
.search_fade_in > input{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: 2vw;
    border-radius: 5px;
}

.banner1{
    position: relative;
    width: 100%;
    background: black;
    height: 25vw;
    color: aliceblue;
    font-size: 3vw;
    overflow: hidden;
}

.banner1 > h1{
    position: absolute;
    margin-top: 10vw ;
    margin-left: 38vw;
}

.nav_img{
    width: 30%;
}

.close_search{
    font-size: 2vw;
    color: aliceblue;
    position: absolute;
    right: 5vw;
    margin-top: 2.5vw;
    cursor: pointer;
}

.none{
    display: none;
}

form{
    position: relative;
    width: 30vw;
    margin: 2vw auto;
}

form > input[type="text"], form > input[type="number"], form > input[type="password"],
form > input[type="date"], form > input[type="email"]{
    width: 14vw ;
    height: 2.5vw ;
    margin: 0.2vw 0vw;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox_span{
    color: #505050;
    font-size: 0.8vw;
    margin-left: 1.4vw;
}

.button_form{
    background: rgb(57, 117, 213);
    color: aliceblue;
    width: 15vw;
    height: 2vw;
    margin: 1vw 7vw;
    border: none;
    border-radius: 5px;
}

.button_form:hover{
    background: rgb(80, 144, 248);
}

#country, #number{
    width: 29vw ;
    height: 2.5vw ;
    margin: 0.2vw 0vw;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.number_span{
    color: #505050;
    font-size: 0.8vw;

}





#successMessage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 16px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 1000;
}

#successMessage.show {
    opacity: 1;
    transform: translateY(0);
}

#successMessage.hidden {
    display: none;
}


.anima_circles{
    position: absolute;
    width: 40vw;
    height: 20vw;
    margin-left: 30vw;
    animation: rotations 8s linear infinite;
}

@keyframes rotations {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

.circle{
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    filter: blur(10vw);
}

.cl0{
    background: blue ;
    left: 0;
    top: 0;
}


.cl1{
    background: rgb(255, 0, 238) ;
    top: 0;
    right: 0;
}


.cl2{
    background: rgb(47, 255, 0) ;
    left: 0;
    bottom: 0;
}

.cl3{
    background: rgb(255, 255, 0) ;
    right: 0;
    bottom: 0;
}

.logo_img{
    width: 30%;
    /* margin-left: 5vw; */
}

.nav_item > a:first-child{
    position: absolute;
    margin-left: -6vw;
    /* margin-top: 0.1vw; */
}


.nav_item > a:last-child{
    position: absolute;
    margin-left: 82vw;
    /* margin-top: 0.1vw; */
}


.colora{
    color: rgb(96, 202, 223)!important;
}

.task{
    font-size: 4vw;
    margin: 5vw;
}